* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

input,
button,
select {
  font-family: inherit;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  height: 1024px;
  background-image: url(./img/Top_pict.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.top__game-btn {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  transition: all 0.3s;
}
.top__game-btn:hover {
  background-color: #EB443F;
  transform: scale(1.05);
  box-shadow: 0 0 5px;
}

.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: normal;
  padding-top: 218px;
  color: #FFF;
  margin-bottom: 32px;
}

.intro {
  margin-bottom: 44px;
  width: 480px;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.game {
  padding-top: 128px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}
.game-box {
  height: 556px;
  background-color: #000915;
}
.game__cont {
  position: relative;
  display: flex;
  height: 300px;
  grid-column: span 4;
}
.game__item {
  border-radius: 16px;
  position: absolute;
  transition: all 0.3s;
}
.game__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px;
}
.game__naming {
  position: absolute;
  padding-left: 32px;
  padding-top: 236px;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  transition: all 0.3s;
}
.game__naming:hover {
  transform: scale(1.05);
}

.seasons {
  height: 800px;
  background-color: #000915;
  display: flex;
  flex-direction: row;
  gap: 135px;
  align-items: center;
}
.seasons__box {
  width: 584px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.seasons__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: normal;
  color: #FFF;
}
.seasons__intro {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}
.seasons__game-btn {
  width: 234px;
  height: 48px;
  border-radius: 30px;
  background: #9C0332;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
  transition: all 0.3s;
}
.seasons__game-btn:hover {
  background-color: #EB443F;
  transform: scale(1.05);
  box-shadow: 0 0 5px;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    background-position: 31%;
    height: 735px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top__game-btn {
    width: 234px;
    align-content: center;
  }
  .heading {
    font-size: 32px;
    padding-top: 238px;
    margin-bottom: 32px;
    -moz-text-align-last: center;
         text-align-last: center;
  }
  .intro {
    width: 343px;
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    text-align: center;
  }
  .game {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    flex-wrap: wrap;
  }
  .game-box {
    height: 1220px;
  }
  .game__cont {
    width: 343px;
  }
  .game__naming {
    padding-left: 16px;
  }
  .game__item {
    width: 343px;
    height: 300px;
  }
  .seasons {
    height: 654px;
    flex-direction: column;
    gap: 64px;
    align-items: center;
  }
  .seasons__heading {
    font-size: 32px;
  }
  .seasons__intro {
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    text-align: center;
    padding: 0 2px 0 2px;
  }
  .seasons__intro-box {
    width: 343px;
  }
  .seasons__box {
    padding-top: 51px;
    width: 343px;
    align-items: center;
  }
  .seasons__game-btn {
    width: 234px;
    align-content: center;
  }
  .logo__game {
    width: 343px;
  }
}/*# sourceMappingURL=style.css.map */